doctype html
html

  head
    title Notes
    link(rel='stylesheet' href='/static/main.css')

  body

    header.header
      h1 Notes App



      nav

        a(href='/all-notes') All notes


        a(href='/archive') Archive


    block Begzod
